body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main{
    margin: 1rem auto;
    max-width: 500px;
    padding: 1rem;
    background-color: aliceblue;
    text-align: center;
}

button,a{
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-align: center;
    line-height: 1.2;
    user-select: none;
    transition: background .15s ease, transform .08s ease;
    margin: 10px;
}

button:focus,
input[type="submit"]:focus,
a:focus{
    outline: none;
    accent-color: linear-gradient(135deg, #8c33ed, #4797fe);
}

button:hover,input[type="submit"]:hover,a:hover{
    opacity: 0.9;
    transform: scale(1.05);
}